{% capture collection_content %}
  {{ include.content }}

  {%- assign page_slug = include.title | slugify -%}
  {%- assign items = site[page_slug] | where_exp: "item", "item.order" | sort: "order" -%}

  <div class="collection">
    <div class="card-columns">
      {% for item in items %}
        <div id="{{ page_slug }}-{{ item.slug }}" class="card rounded-0 shadow-sm border-0">
          <img class="card-img-top rounded-0" src="/assets/img/{{ item.img }}" />
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text"><small class="text-muted">{{ item.tagline }}</small></p>
            <p class="card-text">
              {{ item.content }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endcapture %}

{% include section_layouts/default.html title=include.title content=collection_content %}
