 
 
 9:00 AM            Shannon Nangle, PhD   
                     _Harvard University_   

  9:30 AM            Paul Wooster  
                     _SpaceX_   
                     
  10:00 AM           Break-out session 1    
                         
  11:15 AM           Shannon Rupert, PhD   
                     _The Mars Society_     
     
  11:45 PM           Break-out session 2               
              
  1:00 PM            Lunch provided by Flour     
             
  2:00 PM            John Cumber, PhD
                     _SynBioBeta_         
             
  2:30 PM            Break-out session 3                        
     
  3:45 PM            Tara Karimi, PhD      
                     _Cemvita Factory_ 
 
  4:15 PM            Break-out session 4                        
     
  5:30 PM            Luis Campos, PhD
                     _University of New Mexico_ 
 
  6:00 PM            Posters and beer hour sponsored by Aeronaut Brewery 
