<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-image">
  <a class="navbar-brand" href="/">
    <span class="align-baseline h3">Viriditas</span>
    <img src="/assets/img/favicon/favicon-310.png" class="viriditas-logo align-baseline" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarsContent" aria-expanded="false" aria-label="Site navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content: end" id="navbarContent">
    <span class="text-light">10/20/18 &middot; <em>Boston, MA</em></span>
    <ul class="nav navbar-nav ml-auto">
      {%- assign sitepages = site.pages | where_exp: "item", "item.menu_order" | sort: "menu_order" -%}
      {% for sitepage in sitepages -%}
        <li class="nav-item {% if sitepage.url == page.url -%}active{%- endif %}">
          <a class="nav-link" href="{{ sitepage.url | relative_url }}">{{ sitepage.title | escape }}</a>
        </li>
      {%- endfor %}
    </ul>
  </div>
</nav>
