---
---

html {
  height: 100%;
  body {
    height: 100%;

    /* Background image */
    background-image: url(/assets/img/ps-background.jpg);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-attachment: fixed;
    
  }
}

h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
 }

p {
    font-size: 0.875em; /* 14px/16=0.875em */
}
