---
---

/* custom color variables */

$color-navy:  #031a31;
$color-red:   #b50c12;
$color-cream: #fff8f2;
$color-white: #ffffff;
$color-white-muted: rgba(255,255,255,0.4);

/* restyling theme  */
html {
  height: 100%;
  body {
    height: 100%;
    font-size: 100%;

    /* Background image */
    background-image: url(/assets/img/background.jpg);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-attachment: fixed;
    background-color: $color-navy;
  }
}

a {
  color: $color-red;
}

a:hover {
  color: $color-cream;
}

.card {
  position: relative;
  background-color: $color-white;
}

.panel-body {
  background: $color-white;
}

.text-muted {
  color: $color-white-muted !important;
}

/* navbar */

.nav a{
  font-size: 1.75em;
}

.navbar-nav .active > .nav-link {
  color: $color-cream;
}

.navbar-brand {
  font-size: 2.05rem !important;

  img {
    max-height: 40px;
    margin: -5px;
  }
}

/* agenda */

table.agenda {
  border: 0px solid black;
  padding-left: 50px;

  th, td {
    text-align: right;
    font-size: 1.25em;
  }
}

