---
---

$header-background-color:    #f07c05;

html {
  height: 100%;
  body {
    height: 100%;

    /* Background image */
    background-image: url(/assets/img/ps-background.jpg);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-attachment: fixed      
    }
  
#header {
  height: 72px;
  background: $header-background-color;
  }
  
/* fonts */

h1 {
    font-size: 2.5em; 
}

h2 {
    font-size: 2em;
 }

p {
    font-size: 1.2em;
}

}

