---
layout: page

---

{{ content }}

{%- assign page_slug = page.url | split: "/" | last  -%}
{%- assign items = site[page_slug] | where_exp: "item", "item.order" | sort: "order" -%}

{% for item in items %}
  {% cycle '<div class="card-deck mb-3">', '' %}
      <div class="card bg-transparent">
        <img class="card-img w-50 mb-2 mx-auto" src="{{ item.img }}">
        <div class="card-header bg-light">
          <h5 class="card-title">{{ item.name }}</h5></div>
        <div class="card-body bg-light">
          {{ item.content }}
        </div>
        <div class="card-footer bg-light"></div>
      </div>
  {% cycle '', '</div><div class="mw-100"></div>' %}
{% endfor %}
