---
layout: default
---

<main role="main">
  <section id="title">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{ site.title | default: site.github.owner_name }}</h1>
      <h3>
        <small class="text-muted">{{ site.description | default: site.github.project_tagline }}</small>
      </h3>
    </div>
  </div>
  </section>

  <div class="container">
    {{ content }}
  </div>

  <div class="container">
   <div class="row">
    {%- assign sitepages = site.pages | where_exp: "item", "item.menu_order" | sort: "menu_order" -%}
    {% for sitepage in sitepages %}
      {% if sitepage.title and sitepage.url != page.url %}
        <div class="col">
          <h2 class="display-4"><a href="{{ sitepage.url | relative_url }}">{{ sitepage.title | escape }}</a></h2>
        </div>
      {% endif %}
    {% endfor %}
   </div>
  </div>

</main>
